html{
    background-image: url("../images/blueToDo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 100px auto 100px;
    width: 550px;
    min-width: 375px;
    padding: 0;
}
#taskInput{
    margin-left: 150px  ;
}

.container {
    max-width: 600px;
    min-width: 355px;
    margin: 0 auto 0;
    background-color: #e2acac;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
    min-width: 355px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    padding: 5px 10px;
    min-width: 185px;
    background-color: #f0f0f0;
}

li button {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.add{
   width: 50px; 
   background-color: #7183eb;
}

ul {
    list-style: none;
    padding: 0;
    min-width: 355px;
    display: grid;
    grid-template-columns: 1fr; 
    gap: 5px;
}

li {
    display: grid;
    grid-template-columns: 1fr 50px; 
    align-items: center;
    padding: 5px 10px;
    min-width: 375px;
    background-color: #f0f0f0;
}

li > div {
    width: 360px;
    grid-column: 1; 
}

li > div:last-child {
    grid-column: 2; 
    display: flex;
    width: 50px;
    gap: 5px;
    justify-content: flex-end; 
}


li:hover {
    background-color: #d0d0d0;
}

@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1); 
    }
    100% {
        transform: scale(1);
    }
}

li > div:last-child button{
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px;
    animation: none; 
}

li > div:last-child button:hover {
    animation: zoomInOut 0.3s ease; 
}

